.anger-wrapper {

  height: 100vh;
  //background-color: #111;
  //background-image: url('../img/bgs/carbon_fibre.png');
  padding: 0;

  .anger-button-wrap {

    height: 20%;
    //border: 2px solid #444;
    border-bottom: none;
    width: 100%;
    //position: relative;
    text-align: center;
    background: #111 url('../img/bgs/anger-button-bg.png') no-repeat center;
    background-size: auto 100%;
    //padding-top: 0.2em;

    //.anger-wrapper-inner {
    //
    //  //display: inline-block;
    //  //color: red;
    //}

    a.anger-button {

      font-size: 40px;
      //line-height: 100px;
      color: rgba(255,255,255,0.5);
      font-weight: bold;
      //padding: 5px;
      //border-radius: 50%;
      //background-color: blue;
      //width: 60px;
      //height: 60px;
      //display: inline-block;
      text-align: center;
      line-height: 82px; // this needs to be set dynamically by JS!!!!
      //vertical-align: middle;
      //font-family: SaiyanFont;
      //position: absolute;
      //top: 10%;
      //left: 42%;
    }

    &:hover {

      //background-color: red;
      //background-color: rgba(0,255,0,0.3);
      //cursor: pointer;
      //a.anger-button {
      //  color: #FFF;
      //}
    }

    &.active {

      //background-color: red;
      //background-color: rgba(0,255,0,0.3);
      background-image: url('../img/bgs/anger-button-bg-active.png');

      a.anger-button {
        color: #FFF;
      }
    }
  }

}

