.attack-table-wrap {

  .label-text {

    font-size: 22px;
    text-transform: uppercase;
  }

  .attack-table-top {

    background-color: #000;
    height: 9vh;
    padding-top: 9px;

    .label-text {

      float: right;
      margin-right: 100px;
    }
  }

  .attacker-label {

    width: 8%;
    float: left;
    position: relative;
    height: 100vh;
    background-color: #000;

    .label-text {

      position: absolute;
      bottom: 44%;
      right: -28px;
    }
  }

  .attack-table {

    width: 92%;
    float: right;

    table {

      width: 96%;
      //height: 400px;
      height: 87vh;
      background-color: #111;
      //margin-top: 17px;
      border-color: #444;
      //border-right: none;
      //border-bottom: none;
      border-collapse: collapse;
      //border: none;

      tr {

        &:nth-of-type(even) {
          background: #222;
        }

        td {

          color: #F7F7F7;
          font-size: 22px;
          text-align: center;

          &.data {
            font-size: 19px;
          }

          &.table-label {

            text-transform: uppercase;
            text-align: center;
          }
        }

        &.top-row {

          //display: none;
          background-color: #000;

          td {
            border-collapse: collapse;
          }
        }
      }
    }
  }
}


