// fonts
@font-face {
  font-family: SaiyanFont;
  src: url('../lib/fonts/saiyan_sans/Saiyan-Sans.ttf');
}

.dbz-header {
  background-color: #111;
  padding: 5px 0 9px;
  border: 1px solid #444;
  //background-image: url('../img/bgs/inflicted.png');
  //background-image: url('../img/bgs/crossed_stripes.png');
  //background-image: url('../img/bgs/carbon_fibre.png');
}

h1.dbz-header-title {
  margin: 7px 0 0;
  font-size: 1.7em;
  color: orange;
  text-transform: uppercase;
  font-family: SaiyanFont;
  width: 100%;
}

h1.dbz-header-title span {

  color: red;
}

i.header-star {

  background-color: red;
  color: orange;
  padding: 5px;
  font-size: 0.7em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  vertical-align: middle;
  //margin-top: 10px;
  //margin-top: -2.5px;
}

.attack-table-link {

  font-size: 0.9em;
  margin-top: 8px;
  text-transform: uppercase;
  font-family: SaiyanFont;
  //vertical-align: middle;

  a {
    color: orange;

    span {

      vertical-align: middle;
    }
  }

  i {

    margin-right: 8px;
    color: red;
    font-size: 0.8em;
    vertical-align: middle;
  }
}

.dbz-header-inner {

  text-align: center;
}





