// fonts
@font-face {
  font-family: SaiyanFont;
  src: url('../lib/fonts/saiyan_sans/Saiyan-Sans.ttf');
}

.dbz-header {
  background-color: #111;
  //background-image: url('../img/bgs/inflicted.png');
  background-image: url('../img/bgs/crossed_stripes.png');
  //background-image: url('../img/bgs/carbon_fibre.png');
}

h1.dbz-header-title {
  margin: 0;
  padding: 0.1em 0;
  font-size: 2.1em;
  color: orange;
  text-align: center;
  text-transform: uppercase;
  font-family: SaiyanFont;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

h1.dbz-header-title span {

  color: red;
}

h1.dbz-header-title i {

  background-color: red;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  vertical-align: middle;
  margin-top: -2.5px;
}





