$dbz_primary: red;

$saiyan-mastery: #0D5E3D;
$orange-mastery: #EE8823;
$red-mastery: #D13425;
$black-mastery: #65696C;
$blue-mastery: #3B82BA;
$namekian-mastery: #00A7AD;
$green-trans-border-color: rgba(0,255,0,0.15);