// game play select
.dbz-game-start {

  //text-align: center;
  padding-top: 30px;
  @include grid-lines(rgba(255, 255, 255, 0.1));
  background-size: 50px 50px;
  height: 450px;

  .dbz-steps {

    color: #EEE;
    //text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
  }

  h4 {

    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
  }

  select {

    padding: 5px;
    height: 30px;
    background-color: #CCC;

    &.masteries {

      font-size: 12px;
    }
  }

  .button-wrap {

    margin-top: 8px;
    text-align: center;
  }
}

// game play section with images
.vs-wrap {

  @include grid-lines(rgba(0, 255, 0, 0.3));
  background-size: 25px 25px;

  .img-wrap {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    padding-top: 15px;
    //border-left: 1px solid rgba(0, 255, 0, 0.5);
    //border-right: 1px solid rgba(0, 255, 0, 0.5);

    //&:hover {
    //
    //  background-color: rgba(0, 255, 0, 0.2);
    //}

    .scouter-overlay {

      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba(0,255,0,0.2);
      padding-top: 18%;

      i {

        color: rgba(255,255,255,0.8);
        font-size: 70px;
      }

      .power {

        color: rgba(255,255,255,0.9);
        font-size: 26px;
        text-shadow: 1px 1px rgba(0,0,0,0.2);

        span {
          font-weight: bold;
        }
      }

    }

    img {

      width: 70%;
    }
  }

  .vs-text {

    //background-color: #333;
    height: 200px;
    position: relative;
    background-image: url('../img/bgs/rubber_grip.png');

    .character-info {

      width: 50%;
      float: left;
      text-align: center;
      //background-image: url('../img/bgs/rubber_grip.png');
      border-top: 1px solid rgba(0, 255, 0, 0.2);
      //border-bottom: 1px solid rgba(0, 255, 0, 0.2);

      .name {
        font-family: SaiyanFont;
        font-size: 25px;
        line-height: 30px;
        padding-top: 10px;
        letter-spacing: 2px;
        color: rgba(0, 255, 0, 0.5);
      }

      .mastery {

        padding: 5px 10px;
        font-size: 11px;
        //background-color: #AAA;
        color: rgba(255,255,255,0.8);
        font-weight: bold;
        border-radius: 4px;
        //border: 1px solid #CCC;
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 10px;

        &.Orange {

          @include gradient-bg-mastery($orange-mastery);
        }

        &.Red {

          @include gradient-bg-mastery($red-mastery);
        }

        &.Blue {

          @include gradient-bg-mastery($blue-mastery);
        }

        &.Black {

          @include gradient-bg-mastery($black-mastery);
        }

        &.Saiyan {

          @include gradient-bg-mastery($saiyan-mastery);
        }

        &.Namekian {

          @include gradient-bg-mastery($namekian-mastery);
        }

      }
    }

    .just-vs {
      font-family: SaiyanFont;
      font-size: 20px;
      position: absolute;
      z-index: 100;
      text-align: center;
      width: 100%;
      top: 6px;
      color: rgba(0, 255, 0, 0.5);
    }

    .button-wrap {

      text-align: center;
      margin-top: 20px;
    }

  }

}

//.mastery-info {
//
//  color: #fff !important;
//
//  h4 {
//
//    color: #fff !important;
//  }
//}