<!DOCTYPE html>
<html ng-app="app">
<head>

    <!-- inject:css -->
    <link rel="stylesheet" href="lib/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/flat-icons/flaticon.css">
    <link rel="stylesheet" href="css/dbz.min.css">
    <!-- endinject -->

    <meta charset="utf-8">

    <title>DBZ Life Tracker</title>

</head>

<body>

<div class="row dbz-outer-wrapper">

    <div ng-controller="anger as anger" class="small-2 columns anger-wrapper">

        <div ng-click="anger.select($index)"
             ng-class="{active: $index == anger.selected}"
             class="anger-button-wrap"
             id="anger-button-1"
             ng-repeat="button in anger.buttons_left">

            <div class="anger-wrapper-inner rotate-left">

                <a ng-click="" ng-class="" class="anger-button" href="#">{{ button }}</a>

            </div>

        </div>

        <option ng-repeat="character in character.characters">{{ character.name }}</option>

    </div>

    <div class="small-8 columns main-content-wrapper">

        <div ng-controller="header as header"  class="dbz-header row">

            <div class="small-8 columns dbz-header-inner">
                <h1 class="dbz-header-title">
                    <i class="header-star fa fa-star"></i>
                    <span>DBZ</span> Life Tracker
                    <i class="header-star fa fa-star"></i>
                </h1>
            </div>

            <div class="small-4 columns dbz-header-inner">
                <div class="attack-table-link">
                    <a ng-click="header.viewAttackTable()"><i class="flaticon-greek"></i><span>Attack Table</span></a>
                </div>
            </div>

            <div ng-if="header.attackTable" class="dbz-modal full-modal">

                <div class="modal-inner">

                    <div ng-include="'views/attack-table.html'"></div>

                </div>

            </div>

        </div>

        <!-- main content area -->
        <div ui-view></div>

    </div>

    <div ng-controller="anger as anger" class="small-2 columns anger-wrapper">

        <div ng-click="anger.select($index)"
             ng-class="{active: $index == anger.selected}"
             class="anger-button-wrap"
             fix-height
             ng-repeat="button in anger.buttons_right">

            <div class="anger-wrapper-inner rotate-right">

                <a ng-click="" ng-class="" class="anger-button" href="#">{{ button }}</a>

            </div>

        </div>

        <option ng-repeat="character in character.characters">{{ character.name }}</option>

    </div>

</div>

<!-- inject:js -->
<script src="lib/angular/angular.min.js"></script>
<script src="lib/ui-router/release/angular-ui-router.min.js"></script>
<script src="js/app.js"></script>
<!-- endinject -->

</body>

</html>