<div class="home-content-wrapper">

    <div class="row" ng-controller="game as game">

        <!-- vs area -->

        <div ng-if="game.start" class="vs-wrap">

            <div class="img-wrap">
                <img ng-src="/img/personalities/{{ game.player_1.name }}.png"/>
            </div>

            <div class="img-wrap">
                <img ng-src="/img/personalities/{{ game.player_2.name }}.png"/>
            </div>

            <div class="pushbottom"></div>

            <div class="vs-text">
                <div class="character-info">
                    <div class="name">{{ game.player_1.name }}</div>
                    <div ng-click="game.setMastery(game.mastery_1.id)"
                         class="mastery {{ game.mastery_1.mastery }}">
                        {{ game.mastery_1.name }}
                    </div>
                </div>
                <div class="just-vs">vs</div>
                <div class="character-info">
                    <div class="name">{{ game.player_2.name }}</div>
                    <div ng-click="game.setMastery(game.mastery_2.id)"
                         class="mastery {{ game.mastery_2.mastery }}">
                        {{ game.mastery_2.name }}
                    </div>
                </div>

                <div class="pushbottom"></div>

                <div class="button-wrap">
                    <a class="button" ng-click="game.resetMatch()">Reset</a>
                </div>

            </div>

        </div>

        <!-- end vs area -->


        <!-- game start area -->

        <!--<div ng-if="game.start === false">-->

        <div class="dbz-game-start">


            <div ng-if="game.personality === true">

                <h3 class="dbz-steps">
                    <!--<div class="circle-number"><span>1</span></div>-->
                    Choose Your Personality
                </h3>

                <div class="small-6 columns personality-column one">

                    <h4>Player One</h4>

                    <div class="row">

                        <!--ng-click="anger.select_left($index)"-->
                        <!--ng-class="{active: $index == anger.selected_left}"-->

                        <div class="small-6 columns personality-wrap"
                             ng-repeat="character in game.characters"
                             ng-model="game.player_1">
                            <div class="personality-item"
                                 ng-class="{active: $index == game.selected_one}"
                                 ng-click="game.select_one($index)">
                                {{ character.name }}
                            </div>
                        </div>

                    </div>

                </div>

                <div class="small-6 columns personality-column two">

                    <h4>Player Two</h4>

                    <div class="row">

                        <div class="small-6 columns personality-wrap"
                             ng-repeat="character in game.characters"
                             ng-model="game.player_2">
                            <div class="personality-item"
                                 ng-class="{active: $index == game.selected_two}"
                                 ng-click="game.select_two($index)">
                                {{ character.name }}
                            </div>
                        </div>

                    </div>

                </div>


            </div><!-- end ng-if personality -->

            <div ng-if="game.mastery === true">


                <h3 class="dbz-steps">
                    <!--<div class="circle-number"><span>2</span></div>-->
                    Choose Masteries
                </h3>

                <div class="small-6 columns">

                    <h4>Mastery One</h4>

                    <form>

                        <select name="mastery" ng-model="game.mastery_1" class="masteries"
                                ng-options="mastery as mastery.name for mastery in game.masteries">
                        </select>

                    </form>

                </div>

                <div class="small-6 columns">

                    <h4>Mastery Two</h4>

                    <form>

                        <select name="mastery" ng-model="game.mastery_2" class="masteries"
                                ng-options="mastery as mastery.name for mastery in game.masteries">
                        </select>

                    </form>

                </div>

            </div><!-- end ng-if mastery -->

            <div class="pushbottom"></div>

            <div class="button-wrap">

                <a class="button" ng-click="game.startMatch()">Start</a>

            </div>

        </div>

        <!--</div>-->


        <!-- modals - move do a different template? -->

        <!-- mastery modal -->

        <div ng-if="game.modalActive" class="dbz-modal">

            <div class="modal-inner">

                <h2 ng-class="game.masteryClass">{{ game.masteryTitle }} Effects and Powers</h2>

                <div class="modal-inner-wrap">
                    <label>Continuous Effects</label>
                    <ul class="continous-effects">
                        <li ng-repeat="continuous in game.currentContinuous">{{ continuous }}</li>
                    </ul>
                </div>
                <div ng-if="game.currentPower" class="modal-inner-wrap">
                    <label>Power Effects</label>
                    <ul class="power-effects">
                        <li ng-repeat="continuous in game.currentPower">{{ continuous }}</li>
                    </ul>
                </div>

                <i ng-click="game.masteryModal()" class="fa fa-times bottom-right"></i>

            </div>

        </div>

        <!-- modals -->

    </div><!-- end game controller -->

    <!-- attack table modal -->

</div><!-- home content wrapper -->
