<div class="home-content-wrapper">

    <div class="row" ng-controller="game as game">

        <div ng-if="game.start" class="vs-wrap">

            <div class="img-wrap"><img src="../img/personalities/{{ game.player_1.name }}.png"/></div>
            <div class="img-wrap"><img src="../img/personalities/{{ game.player_2.name }}.png"/></div>

            <div class="pushbottom"></div>

            <div class="vs-text">
                <div class="character-name">{{ game.player_1.name }}</div>
                <div class="just-vs">vs</div>
                <div class="character-name">{{ game.player_2.name }}</div>
            </div>

            <div class="pushbottom"></div>
        </div>

        <div ng-if="game.start === false">
            <!--<div ng-if="game.start === false">-->

            <div class="dbz-game-start">

            <h3 class="dbz-steps"><div class="circle-number"><span>1</span></div>Choose Main Personality</h3>

                <div class="small-6 columns">

                    <h4>Player One</h4>

                    <form>

                        <select name="character" ng-model="game.player_1"
                                ng-options="character as character.name for character in game.characters">
                        </select>

                    </form>

                </div>

                <div class="small-6 columns">
                    <h4>Player Two</h4>

                    <form>

                        <select name="character" ng-model="game.player_2"
                                ng-options="character as character.name for character in game.characters">

                        </select>

                    </form>

                </div>

                <a class="button" ng-click="game.startMatch()">Start Match</a>

            </div>

        </div>

    </div>

</div>