<div class="home-content-wrapper">

    <div class="row" ng-controller="game as game">

        <div ng-if="game.start" class="vs-wrap">

            <div ng-click="game.scoutClick_1()" class="img-wrap">
                <div ng-if="game.scouter_1" class="scouter-overlay">
                    <i class="fa fa-crosshairs"></i>

                    <div class="power">Power Level: <span>9000!</span></div>
                </div>
                <img ng-src="../img/personalities/{{ game.player_1.name }}.png"/>
            </div>
            <div ng-click="game.scoutClick_2()" class="img-wrap">
                <div ng-if="game.scouter_2" class="scouter-overlay">
                    <i class="fa fa-crosshairs"></i>

                    <div class="power">Power Level: <span>9000!</span></div>
                </div>
                <img ng-src="../img/personalities/{{ game.player_2.name }}.png"/>
            </div>

            <div class="pushbottom"></div>

            <div class="vs-text">
                <div class="character-info">
                    <div class="name">{{ game.player_1.name }}</div>
                    <div ng-click="game.setMastery(game.mastery_1.id)" class="mastery {{ game.mastery_1.mastery }}">{{
                        game.mastery_1.name }}
                    </div>
                </div>
                <div class="just-vs">vs</div>
                <div class="character-info">
                    <div class="name">{{ game.player_2.name }}</div>
                    <div ng-click="game.setMastery(game.mastery_2.id)" class="mastery {{ game.mastery_2.mastery }}">{{
                        game.mastery_2.name }}
                    </div>
                </div>

                <div class="pushbottom"></div>

                <!--<div class="mastery-info">-->

                <!--<h4>mastery info</h4>-->

                <!--<ul>-->
                <!--<li ng-repeat="item in game.masteries[0].status_change.Continuous">{{ item }}</li>-->
                <!--</ul>-->

                <!--</div>-->

                <div class="button-wrap">

                    <a class="button" ng-click="game.resetMatch()">Reset Match</a>

                </div>

            </div>

        </div>

        <div ng-if="game.start === false">

            <div class="dbz-game-start">

                <h3 class="dbz-steps">
                    <div class="circle-number"><span>1</span></div>
                    Choose Personalities
                </h3>

                <div class="small-6 columns">

                    <h4>Personality One</h4>

                    <form>

                        <select name="character" ng-model="game.player_1"
                                ng-options="character as character.name for character in game.characters">
                        </select>

                    </form>

                </div>

                <div class="small-6 columns">

                    <h4>Personality Two</h4>

                    <form>

                        <select name="character" ng-model="game.player_2"
                                ng-options="character as character.name for character in game.characters">
                        </select>

                    </form>

                </div>

                <h3 class="dbz-steps">
                    <div class="circle-number"><span>2</span></div>
                    Choose Masteries
                </h3>

                <div class="small-6 columns">

                    <h4>Mastery One</h4>

                    <form>

                        <select name="mastery" ng-model="game.mastery_1" class="masteries"
                                ng-options="mastery as mastery.name for mastery in game.masteries">
                        </select>

                    </form>

                </div>

                <div class="small-6 columns">

                    <h4>Mastery Two</h4>

                    <form>

                        <select name="mastery" ng-model="game.mastery_2" class="masteries"
                                ng-options="mastery as mastery.name for mastery in game.masteries">
                        </select>

                    </form>

                </div>

                <div class="pushbottom"></div>

                <div class="button-wrap">

                    <a class="button" ng-click="game.startMatch()">Start Match</a>

                </div>

            </div>

        </div>

        <!-- modals - move do a different template? -->

        <!-- mastery modal -->

        <div ng-if="game.modalActive" class="dbz-modal">

            <div class="modal-inner">


                <h2 ng-class="game.masteryClass">{{ game.masteryTitle }} Effects and Powers</h2>

                <div class="modal-inner-wrap">
                    <label>Continuous Effects</label>
                    <ul class="continous-effects">
                        <li ng-repeat="continuous in game.currentContinuous">{{ continuous }}</li>
                    </ul>
                </div>
                <div ng-if="game.currentPower" class="modal-inner-wrap">
                    <label>Power Effects</label>
                    <ul class="power-effects">
                        <li ng-repeat="continuous in game.currentPower">{{ continuous }}</li>
                    </ul>
                </div>

                <i ng-click="game.masteryModal()" class="fa fa-times"></i>

            </div>

        </div>

        <!-- attack table modal -->


        <div ng-if="game.attackTable" class="dbz-modal full-modal">

            <div class="modal-inner">

                <div ng-include="'views/attack-table.html'"></div>

                <div class="modal-footer">

                    <i ng-click="game.viewAttackTable()" class="fa fa-times"></i>

                </div>

            </div>

        </div>

        <!-- modals -->

    </div>


</div>




