Settings Layout
<a ui-sref="settings.account">Show Account</a>
<br />
<a ui-sref="settings.profile">Show Profile</a>
<div ui-view></div>
<div class="tester">


    <div ng-controller="test-controller as tester">

        <label>Add New Person</label>
        <input ng-model="tester.addFirst" type="text" placeholder="first name"/>
        <input ng-model="tester.addLast" type="text" placeholder="last name"/>
        <input class="button" type="submit" value="add new person" ng-click="tester.addPerson()" />
        <ul>
            <li ng-repeat="person in tester.people">{{ person.first_name }} {{ person.last_name }}</li>
        </ul>

    </div>


</div>
